@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="text-info" style="font-family:'Lucida Calligraphy'"><span class="shadow-lg bg-gradient-light rounded">BIENVENUE A MAD COMMUNICATION SARL</span></h1>
</div>
<br />
<div class="text-center ">
    <h4 style="font-family:'Lucida Calligraphy'"><small style="color:#ff0000"> "Le support comme vous l'imaginez."</small></h4>
</div>

<!--insert image-->
<br /><br />
<div class="">
    <img style="opacity:0.5;filter: alpha(opacity=60)" src="~/Image/accueil page.JPG" height="300" width="1100" ;>
</div>
